{% load static %}

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'style/reset.css' %}">
        <link rel="stylesheet" href="{% static 'style/index.css' %}">
        <link rel="stylesheet" href="{% static 'style/header.css' %}">
        {% block css %}{% endblock %}
    </head>

    <body>
        <header>
            <div class="spacer"></div>
            <h1><a href={% url 'index' %}>Connor Makes Nonsense</a></h1>
            <div class="spacer"></div>
        </header>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        {% if user.is_authenticated %}
            <script>
                const USER = {
                    id: {{ user.id }},
                    username: {{ user.username }}
                };
            </script>
        {% else %}
            <script>
                const USER = null;
            </script>
        {% endif %}
        {% block js %}{% endblock %}
    </body>
</html>